@page {
  size: A4;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  flex-direction: column;
  color: #666;
  background-image: linear-gradient(to right bottom, #4ca1af, #c4e0e5);
  background-attachment: fixed;
}

a, button {
  cursor: pointer;
}

.intro a,
footer a {
  color: white;
  text-decoration: underline;
}

.intro {
  width: 800px;
  max-width: 95%;
  margin: 40px 0 20px;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  color: white;
}

@media print {
  .intro {
    display: none;
  }
}

.intro button {
  flex: 1 0 auto;
}

.intro ol {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.intro li {
  line-height: 150%;
}

.page {
  background-color: white;
  display: flex;
  flex: 0 0 auto;
  width: 800px;
  max-width: 95%;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #bbb;
  margin-bottom: 20px;
}

@media print {
  .page {
    margin: 0;
    width: 100%;
    min-height: 100%;
    box-shadow: none;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 15px;
}

.header {
  flex: 0 0 auto;
}

h1, h2, h3, p {
  margin: 0 0 10px;
  font-weight: normal;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 30px;
  color: #666;
}

h2 {
  font-size: 16px;
  color: #aaa;
}

[contenteditable] * {
  display: inline;
}

[contenteditable] br {
  display: none;
}

[contenteditable]:hover {
  cursor: pointer;
}

@media print {
  [contenteditable] {
    font-style: normal;
  }
}

.calendar {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: calc(100% - 7px);
  border: 1px solid #666;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  margin-left: 7px;
}

.calendar > li {
  flex: 1 0 auto;
  position: relative;
}

.calendar > li::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  border-top: 1px solid #ddd;
}

.calendar > li + li {
  border-top: 1px solid #bbb;
}

.calendar > li > span {
  display: inline-block;
  font-size: 10px;
  background-color: white;
  border: 1px solid #666;
  border-radius: 3px;
  position: absolute;
  top: -9px;
  left: -8px;
  padding: 2px 4px;
}

.calendar > li:last-of-type {
  flex: 0 0 0;
  border: none;
}

.check-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.check-list > li {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.check-list > li::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  border-radius: 5px;
  margin-right: 10px;
}

.check-list > li > p {
  border-bottom: 1px solid #ccc;
  line-height: 150%;
  width: 100%;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.list > li {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.list > li > p {
  border-bottom: 1px solid #ccc;
  line-height: 150%;
  width: 100%;
  margin: 0;
}

footer {
  color: white;
  font-size: 12px;
  margin-bottom: 40px;
}

@media print {
  footer {
    display: none;
  }
}
